.InfoProfile{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 935px;
    min-width: 380px;
    padding:0 16px 16px 16px;
    font-size: 14px;
    line-height: 18px;
}
.InfoProfile div:nth-child(2){
    color: rgb(224,241,255);
}
.InfoProfile div, .InfoProfile a{
    min-height: 18px;
}
.InfoProfile__web {
    display: flex;
    flex-direction: row;
}

.InfoProfile__threads{
    height: 38px;
}
.InfoProfile__threads div{
    padding: 6px 0;
    width: max-content;
    height: 26px;
    padding: 4px;
    border-radius: 10px;
    color: white;
    background-color: #363636;
}

.InfoProfile__web div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 7px;
}

.InfoProfile__url{
    font-size: 12px;
    min-width: 266px;
    max-width: 935px;
}
.InfoProfile__url div{
    margin-top: 14px;
    height: 18px;
    overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) al final del texto truncado */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.InfoProfile__url--more, .InfoProfile__type{
    color: #a8a8a8;
}