.InfoProfile{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 735px;
    min-width: 266px;
    padding:0 16px 16px 16px;
    font-size: 14px;
    line-height: 18px;
}
.InfoProfile div:nth-child(2){
    color: rgb(168, 168, 168);
}
.InfoProfile div, .InfoProfile a{
    min-height: 18px;
}
.InfoProfile__web {
    display: flex;
    flex-direction: row;
}
.InfoProfile__web div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 7px;
}

.InfoProfile__url{
    min-width: 25px;
    max-width: 735px;
}
.InfoProfile__url div{
    margin-top: 14px;
}